<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

   <context-param>
   		<param-name>company</param-name>
   		<param-value>Cognizant</param-value>
   </context-param>
   
   <context-param>
   		<param-name>location</param-name>
   		<param-value>Pune</param-value>
   </context-param>

	<servlet>
		<servlet-name>SrvOne</servlet-name>
		<servlet-class>com.SrvOne</servlet-class>
		
		<init-param>
			<param-name>empId</param-name>
			<param-value>1024</param-value>
		</init-param>
		
		<init-param>
			<param-name>empName</param-name>
			<param-value>Ozvitha</param-value>
		</init-param>
		
		
	</servlet>
	
	<servlet>
		<servlet-name>SrvTwo</servlet-name>
		<servlet-class>com.SrvTwo</servlet-class>
		
		<init-param>
			<param-name>empId</param-name>
			<param-value>1025</param-value>
		</init-param>
		
		<init-param>
			<param-name>empName</param-name>
			<param-value>James</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SrvOne</servlet-name>
		<url-pattern>/SrvOne</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SrvTwo</servlet-name>
		<url-pattern>/SrvTwo</url-pattern>
	</servlet-mapping>
</web-app>