<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>s1</servlet-name>
    <servlet-class>com.SrvOne</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>s2</servlet-name>
    <servlet-class>com.SrvTwo</servlet-class>
  </servlet>
  
  
  
  <servlet-mapping>
    <servlet-name>s1</servlet-name>
    <url-pattern>/data</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s1</servlet-name>
    <url-pattern>/abc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s1</servlet-name>
    <url-pattern>/xyz</url-pattern>
  </servlet-mapping>
  
 
  <servlet-mapping>
    <servlet-name>s2</servlet-name>
    <url-pattern>/cts</url-pattern>
  </servlet-mapping>
</web-app>