<select #s2 (change)="onSelect1(s2.value)">
  <option>-- Select Course --</option>
  <option>BSC</option>
  <option>MSC</option>
</select> <br/>
Sub Course: <select >
            <option *ngFor="let sb of subCourses"> {{sb}} </option>
             </select>

<h2>Couse: {{course}}<br/> 
<input type="text" [(ngModel)]="name">
<h2>You have entered: {{name}}
<div *ngIf="showData">
  <h1>Hello</h1>
</div>
<h2>Data: {{showData}}</h2>
<h3><input type="checkbox" #s1 [(ngModel)]="showData">Show Data</h3>
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
 
 <hr/>
<div *ngIf="selectedHero">
 
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
       <input [(ngModel)]="selectedHero.id" placeholder="id">
    </label>
  </div>
 
</div>



